<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student Data Form</title>
  </head>
  <body>
    <h2>Student Information Form</h2>
    <form action="{{url_for("predict_data")}}" method="post">
      <!-- Gender -->
      <label for="gender">Gender:</label>
      <select id="gender" name="gender" required>
        <option value="">--Select--</option>
        <option value="female">Female</option>
        <option value="male">Male</option>
        <option value="other">Other</option>
      </select>
      <br /><br />

      <!-- Race / Ethnicity -->
      <label for="race_ethnicity">Race / Ethnicity:</label>
      <select id="race_ethnicity" name="race_ethnicity" required>
        <option value="">--Select--</option>
        <option value="group A">Group A</option>
        <option value="group B">Group B</option>
        <option value="group C">Group C</option>
        <option value="group D">Group D</option>
        <option value="group E">Group E</option>
      </select>
      <br /><br />

      <!-- Parental Level of Education -->
      <label for="parental_level_of_education"
        >Parental Level of Education:</label
      >
      <select
        id="parental_level_of_education"
        name="parental_level_of_education"
        required
      >
        <option value="">--Select--</option>
        <option value="high school">High School</option>
        <option value="some high school">Some High School</option>
        <option value="associate's degree">Associate's Degree</option>
        <option value="bachelor's degree">Bachelor's Degree</option>
        <option value="master's degree">Master's Degree</option>
        <option value="some college">Some College</option>
      </select>
      <br /><br />

      <!-- Lunch -->
      <label for="lunch">Lunch:</label>
      <select id="lunch" name="lunch" required>
        <option value="">--Select--</option>
        <option value="standard">Standard</option>
        <option value="free/reduced">Free/Reduced</option>
      </select>
      <br /><br />

      <!-- Test Preparation Course -->
      <label for="test_preparation_course">Test Preparation Course:</label>
      <select
        id="test_preparation_course"
        name="test_preparation_course"
        required
      >
        <option value="">--Select--</option>
        <option value="none">None</option>
        <option value="completed">Completed</option>
      </select>
      <br /><br />

      <!-- Reading Score -->
      <label for="reading_score">Reading Score:</label>
      <input
        type="number"
        id="reading_score"
        name="reading_score"
        min="0"
        max="100"
        required
      />
      <br /><br />

      <!-- Writing Score -->
      <label for="writing_score">Writing Score:</label>
      <input
        type="number"
        id="writing_score"
        name="writing_score"
        min="0"
        max="100"
        required
      />
      <br /><br />

      <!-- Submit -->
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
